<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restauranthub">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantHub">

        <!-- Launcher -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.GuestDashboardActivity" />
        <activity android:name=".activity.StaffDashboardActivity" />
        <activity android:name=".activity.MenuBrowseActivity" />
        <activity android:name=".activity.MenuManageActivity" />
        <activity android:name=".activity.MenuItemDetailActivity" />
        <activity android:name=".activity.AddMenuItemActivity" />
        <activity android:name=".activity.EditMenuItemActivity" />
        <activity android:name=".activity.BookTableActivity" />
        <activity android:name=".activity.MyReservationsActivity" />
        <activity android:name=".activity.StaffReservationsActivity" />
        <activity android:name=".activity.EditReservationActivity" />
        <activity android:name=".activity.NotificationSettingsActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.StaffProfileActivity" />
        <activity android:name=".activity.GuestProfileActivity" />
        <activity android:name=".activity.GuestNotificationSettingsActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />

    </application>
</manifest>