<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantapp">

    <application ...>
    <activity android:name=".ManageMenuActivity" />
    <activity android:name=".StaffDashboardActivity" />
    <activity android:name=".GuestDashboardActivity" />
    <activity android:name=".RegisterActivity" />
    <activity android:name=".LoginActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    </application>
</manifest>